body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column; }

.music-head {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #fff;
  background: #2CA2F9;
  text-align: center;
  font-size: 1.6rem; }

.music-main {
  flex: 1;
  overflow: hidden;
  overflow-y: scroll; }
