body {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
}

.head {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    background: #2CA2F9;
    text-align: center;
    font-size: 1.8rem;
}

.main {
    flex: 1;
    overflow: hidden;
    overflow-y: scroll;
}

.main_list{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 0;
    font-size: 1.4rem;

    nav{
        padding-bottom: 5px;
    }

    .list_style{
        font-weight: bold;
        border-bottom: 2px solid #000000;
    }
}

.foot{
    background: palegreen;
    text-align: center;
    padding: 10px 0;
    font-size: 1.6rem;  
}

